.tabContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tab{
  flex: 1;
  text-align: center;
  border-bottom: 4px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgb(57, 57, 57);
}
.tab h3{
  margin: .6rem 0;
}
.isActiveTab{
  border-bottom: 4px solid rgb(0, 0, 0);
  transition: all 0.4s ease;
  color: rgba(255, 255, 255, 0.803);
  background: linear-gradient(to left, rgba(255, 255, 255), rgb(0, 47, 133));
}
.content{
  padding:0 30px;
  display: flex;
  min-height: 84vh;
}
.notActiveContent{
  display: none;
}
.dishesContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
 padding: 4rem 2rem;
 width: 70%;
 overflow: scroll;
 overflow-x: hidden;
 height: 67.4vh;
}
.dishesContainer::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 10px;
  padding: 0;
}
.dishesContainer::-webkit-scrollbar
{
	width: 20px;
	background-color: #F5F5F5;
}
.dishesContainer::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  background-clip: content-box;
}
.selectedDishes{
  width: 100%;
  display: flex;
  padding: 5rem 0rem;
  flex-wrap: wrap;
  gap: 3rem;
}
.rankAvail{
  width: 100%;
  backdrop-filter: blur(38px);
  color: rgb(33, 33, 33);
  /* border: 2px solid black; */
}
.rankAvail h2{
  width: 100%;

}
.rankedWrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5rem 0rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.ranked_container{
  border: 2px solid rgb(0, 0, 0);
  height: 24rem;
  width: 300px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius:20px;
  background: rgba(0, 0, 0, 0.073);
  transition: all 0.4s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.ranked_container:hover{
  transition: all 0.5s ease;
  transform: translateY(-7px);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.ranked_container:hover .rankedImg>img{
  transform: scale(1.1);
  transition: all 0.6s ease;
}
.ranked_container:hover .rankingNumber{
  opacity: 1;
  transition: all 0.4s ease;
}
.rankedImg{
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-top-left-radius:18px;
  border-top-right-radius:18px;
}
.rankedImg img{
  transition: all 0.4s ease;
  width: 100%;
}
.rankedDescription{
  height:40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  /* padding: .4rem 0; */
  background: linear-gradient(to right, rgb(255, 68, 127), rgb(28, 28, 28));
  color: #fff;
  border-radius:18px;
  z-index: 20;
}
.rankedDescription h5{
  margin: 0;
  padding: .6rem 0;
  background: rgba(12, 12, 12, 0.645);
}
.rankedDescription p{
  margin: 0;
  font-size: 12px;
  padding: .2rem;
}
.rankingNumber{
  position: absolute;
  right: -8%;
  bottom: -8%;
  font-size:32px;
  font-weight: 700;
  color: #fff;
  z-index: 1000;
  opacity: 0.6;
  transition: all 0.3s ease;
  
}
.rankingPoint{
  position: absolute;
  left: 4%;
  top: -4.5%;
  font-size:14px;
  font-weight: 500;
  color: #fff;
  z-index: 1000;
  opacity: 1;
  transition: all 0.3s ease;
  background: #000;
  border: 2px solid #fff;
  padding: .2rem .6rem;
  border-radius:18px;
}
.noRankAvail{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 84vh;
  backdrop-filter: blur(38px);
}
.noRankAvail h2{
  padding: 1rem 0;
  font-size: 30px;
  margin: 0;
}
.userName{

  margin: 0;
}
.userName::first-letter{
  text-transform: uppercase;
  color: red;
  font-size:29px;
}