.homeContainer{
  background: url(../../assets//Mesh\ 9.png);
  object-fit: contain;
  background-size: 100vw 100vh;
  background-repeat: repeat;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.siteLogo {
  height: 4.4rem;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid rgb(83, 83, 83);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: linear-gradient(to right,  rgb(220, 0, 66), #ffffff);
}
.logout{
  z-index: 2000;
  top :65%;
  left :0;
  position: fixed;

}
.logout button{
  border: none;
  width: 8em;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background:linear-gradient(to left,  rgba(255, 35, 101, 0.735), #0000009a) ;
  border: 2px solid rgb(255, 255, 255);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffff;
  letter-spacing:1px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}